{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Blog - {{title}}{% endblock head_title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href='{% static "css/base.css" %}'>
    {% block head_extra %}
    {% endblock head_extra %}
</head>
<body>
    {% include "messages_display.html" %}
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".post-detail-item img").each(function () {
                $(this).addClass("img-responsive");
            });

            function setContent(value) {
              $("#preview-content").html(marked(value));
              $("#preview-content img").each(function () {
                  $(this).addClass("img-responsive");
              })
            }
            function setTitle(value) {
                $("#preview-title").text(value);
            }

            var titleInput = $("#id_title"),
                contentInput = $("#id_content");

            contentInput.keyup(function () {
               setContent(contentInput.val());
            });
            titleInput.keyup(function () {
                setTitle(titleInput.val());
            });

            setContent(contentInput.val());
            setTitle(titleInput.val());



        });
    </script>
</body>
</html>